<!-- <h1>Rxjs Observable</h1>

<a href="#" id="click-button">Click here</a>
<hr /> -->

<!-- <app-create-new-observable></app-create-new-observable>
<app-unsubscribing-an-observable></app-unsubscribing-an-observable> -->

<!-- <app-operators-basic></app-operators-basic> -->
<ul>
  <li><a [routerLink]="'operators'">Rxjs Operators</a></li>
  <li><a [routerLink]="'subject'">Rxjs Subject</a></li>
  <li><a [routerLink]="'coldObservable'">Rxjs Cold Observable</a></li>
  <li><a [routerLink]="'connectable'">Rxjs Connectable()</a></li>
  <li><a [routerLink]="'behaviorSubject'">Rxjs Behavior Subject()</a></li>
  <li><a [routerLink]="'replaySubject'">Rxjs Replay Subject()</a></li>
  <li><a [routerLink]="'asyncSubject'">Rxjs Async Subject()</a></li>
</ul>
<router-outlet></router-outlet>
