<h1>Rxjs Operators</h1>
<hr />
<ul>
  <li><a [routerLink]="'buffer'">Buffer Operator</a></li>
  <li><a [routerLink]="'bufferCount'">BufferCount Operator</a></li>
  <li><a [routerLink]="'bufferTime'">BufferTime Operator</a></li>
  <li><a [routerLink]="'bufferToggle'">BufferToggle Operator</a></li>
  <li><a [routerLink]="'bufferWhen'">BufferWhen Operator</a></li>
  <li><a [routerLink]="'take'">Take Operator</a></li>
  <li><a [routerLink]="'takeLast'">TakeLast Operator</a></li>
  <li><a [routerLink]="'takeUntil'">TakeUntil Operator</a></li>
  <li><a [routerLink]="'takeWhile'">TakeWhile Operator</a></li>
  <li><a [routerLink]="'skip'">Skip Operator</a></li>
  <li><a [routerLink]="'skipLast'">SkipLast Operator</a></li>
  <li><a [routerLink]="'skipUntil'">SkipUntil Operator</a></li>
  <li><a [routerLink]="'skipWhile'">SkipWhile Operator</a></li>
  <li><a [routerLink]="'distinct'">Distinct Operator</a></li>
  <li>
    <a [routerLink]="'distinctUntilChanged'">DistinctUntilChanged Operator</a>
  </li>
  <li>
    <a [routerLink]="'distinctUntilKeyChanged'"
      >DistinctUntilKeyChanged Operator</a
    >
  </li>
  <li>
    <a [routerLink]="'filter'">Filter Operator</a>
  </li>
  <li>
    <a [routerLink]="'sample'">Sample Operator</a>
  </li>
  <li>
    <a [routerLink]="'audit'">Audit Operator</a>
  </li>
  <li>
    <a [routerLink]="'throttle'">Throttle Operator</a>
  </li>
  <li>
    <a [routerLink]="'first'">First Operator</a>
  </li>
  <li>
    <a [routerLink]="'last'">Last Operator</a>
  </li>
  <li>
    <a [routerLink]="'debounce'">Debounce Operator</a>
  </li>
  <li>
    <a [routerLink]="'elementAt'"> ElementAt Operator</a>
  </li>
  <li>
    <a [routerLink]="'ignoreElements'"> IgnoreElements Operator</a>
  </li>
  <li>
    <a [routerLink]="'single'"> Single Operator</a>
  </li>
  <li>
    <a [routerLink]="'map'"> Map Operator</a>
  </li>
  <li>
    <a [routerLink]="'ajax'"> Ajax Operator</a>
  </li>
  <li>
    <a [routerLink]="'mergeMap'"> MergeMap Operator</a>
  </li>
  <li>
    <a [routerLink]="'concatMap'"> ConcatMap Operator</a>
  </li>
  <li>
    <a [routerLink]="'exhaustMap'"> ExhaustMap Operator</a>
  </li>
  <li>
    <a [routerLink]="'switchMap'"> SwitchMap Operator</a>
  </li>
  <li>
    <a [routerLink]="'share'"> Share Operator</a>
  </li>
  <li>
    <a [routerLink]="'connectable-behavior'"> Connectable(Behavior) Operator</a>
  </li>
  <li>
    <a [routerLink]="'connectable-async'"> Connectable(Async) Operator</a>
  </li>
  <li>
    <a [routerLink]="'connectable-replay'"> Connectable(Replay) Operator</a>
  </li>
  <li>
    <a [routerLink]="'catchError'"> CatchError Operator</a>
  </li>
  <li>
    <a [routerLink]="'retry'"> Retry Operator</a>
  </li>
  <li>
    <a [routerLink]="'retry-withRetryConfig'">
      Retry With RetryConfig Operator</a
    >
  </li>
  <li>
    <a [routerLink]="'combineLatestFunction'"> Combine Latest Function</a>
  </li>
</ul>

<hr />
<router-outlet></router-outlet>
